<div class="row">
  <div class="col-lg-6">
    <h1>Installing themes in Atom</h1>
    <h3>On the command line</h3>
    <pre>$ apm install theme-name</pre></p>
    <h3>Inside Atom</h3>
    <ul>
      <li>Open Atom settings from Edit -> Preferences.</li>
      <li>Go to the install tab.</li>
      <li>Select themes next to the search bar.</li>
      <li>Paste the name of the theme you want to install.</li>
    </ul>
  </div>
</div>
