body {
  background-color: #f4f4f4;
  font-family: 'Lato', sans-serif;
}

h1.title {
  margin-bottom: 1em;
}

div.theme-preview {
  background-color: #fcfcfc;
  margin: 1em;
  padding: 1em;
}

h3.theme-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 0.4em;
}

span.theme-stats {
  margin-left: 1em;
}

div.theme-image {
  max-height: 30em;
  overflow: hidden;
}

img.theme-hovered {
  opacity: 0.05;
}

div.theme-details {
  position: absolute;
  top: 50%;
  left: 50%;
}
