body {
  background-color: #f4f4f4;
  font-family: 'Lato', sans-serif;
}

h1.title {
  margin-bottom: 1em;
}

div.theme-preview {
  background-color: #fcfcfc;
  margin: 1em;
  padding: 1em;
}

div.light-hover:hover {
  box-shadow: 1px 1px 5px grey;
}

h3.theme-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 0.4em;
}

span.theme-stats {
  margin-left: 1em;
}

div.theme-image {
  max-height: 30em;
  overflow: hidden;
}

img.theme-clicked {
  opacity: 0.05;
}

div.theme-details {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

div.theme-details > input {
  margin-bottom: 1em;
  text-align: center;
}
